img {
    max-width: 100%; !important;
}

.table td, .table th {
    border-top: none;
}

.gist .gist-meta {
    background-color: transparent !important;
}

.gist .gist-file {
    border: none !important;
}

.gist .gist-meta {
    font-family: Helvetica, Arial, sans-serif !important;
}
